table.o_section_and_note_list_view tr.o_data_row.o_is_line_pagebreak,
div.oe_kanban_card.o_is_line_pagebreak {
    background-color: #140e19;
}

table.o_section_and_note_list_view tr.o_data_row.o_is_line_isection,
div.oe_kanban_card.o_is_line_isection {
    background-color: rgb(184, 216, 239);
}

