@font-face {
    font-family: "Aktiv Grotesk";
    src: url(/report_design_integration/static/src/fonts/AktivGroteskVF_Wght.ttf) format("truetype");
}
.o_clean_footer {
    margin: 0 3px;
    margin-top: 200px;
    border-top: 3px solid #98af77 !important;
    h4 {
        color: #98af77 !important;
        font-weight: bolder;
    }
    .pagenumber {
        border: 3px solid #744b27 !important;
        background-color: #98af77;
        color: white;
        padding: 4px 8px;
        text-align: center;
    }
}
.o_report_layout_clean {
    h1, h2, h3 {
        color: #744b27 !important;
        font-weight: bolder;
    }
    strong {
        color: #98af77 !important;
    }
    table {
        &.o_main_table {
            margin-bottom: 0;
        }

        thead {
            color: #98af77 !important;
            tr th {
                border-top: 3px solid #98af77 !important;
                text-transform: uppercase;
            }
            tr th:first-child {
                width: 48%;
            }
        }
        tbody {
            color: #000;
            tr:first-child td {
                border-top: none;
            }
            tr:last-child td {
                border-bottom: 3px solid #98af77 !important;
            }
            tr {
                td {
                    padding: 15px 5px;
                }
                td:last-child {
                }
            }
        }
    }
    #total {
        strong {
            color: #98af77 !important;
        }
    }
    /*Total table*/
    /* compat 12.0 */
    .row:not(#total) > div:has(table) {
        top: -16px;
    }
    /* row col rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:first-child td,
            &.o_subtotal {
                border-top: none !important;
            }
            &:last-child td,
            &.o_total {
                border-top: 1px solid gray('200') !important;
            }
        }
    }
}

.o_company_1_layout.o_report_layout_clean table thead tr th{
    border-top: 3px solid #98af77 !important;
}
.o_company_1_layout.o_clean_footer .pagenumber{
    background-color: #98af77 !important;
}
body{
    font-family: "Aktiv Grotesk",sans-serif !important;
    font-size: 10pt !important;
}
h2{
    font-size: 15pt !important;
}
p{
    font-size: 9pt !important;
}
.page{
    font-family: "Aktiv Grotesk",sans-serif !important;
}
.header{
    font-family: "Aktiv Grotesk",sans-serif !important;
}
.footer{
    font-family: "Aktiv Grotesk",sans-serif !important;
}
.wrapwrap{
    font-family: "Aktiv Grotesk",sans-serif !important;
}

